*{
    margin:0px;
    padding:0px;
}
body{
    height:400px;
    background-color: brown;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    height:500px;
    width:500px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    position: relative; 
    top:80px;
    background-color: rgb(103, 165, 165);
    border-radius:10px;
    /* border:1px solid black; */
    box-shadow:1px 3px 9px 3px;
}
#input{
    height:30px;
    width:300px;
    border-radius:5px;
    box-shadow:1px 2px 3px 0px;

}
button{
    height:35px;
    width:100px;
    border-radius:5px;
    box-shadow:1px 2px 3px 0px;

    background-color:rgb(112, 180, 112);

}
#add{


}
.output{
    height:300px;
    width:420px;
    /* border:2px solid black; */
}
#ul{
   list-style: none;
}
li{
    width:403px;
    display:flex;
    justify-content:space-between;
    border:1px solid rgb(32, 30, 30);
    border-radius:5px ;
    padding:5px;
    margin-bottom:5px;
    color:rgb(14, 12, 12);
    font-size:18px;
    box-shadow:1px 2px 3px 0px;

}
.inputbtn{
    padding:30px;
}